<link rel="stylesheet" type="text/css" href="css/game.css">
<div id="table" class="table"></div>

<div class="players">
    <div id ="player1" class="hand">
        <h3>Player 1</h3>
    </div>
    <div id ="player2" class="hand">
        <h3>Player 2</h3>
    </div>
</div>
<div class="buttons">
    <button ng-click="$ctrl.onPlayerClick('player1')">Deal card to player1</button>
    <button ng-click="$ctrl.onPlayerClick('player2')">Deal card to player2</button>
    <button ng-click="$ctrl.onPlayerClick('table')">Deal card</button>
</div>
