<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Poker</title>
    <link rel="stylesheet" type="text/css" href="css/game.css">
    <script src="http://code.jquery.com/jquery-2.1.4.js"></script>
</head>

<body>
    <div id="table" class="table"></div>

    <div class="players">
      <div id ="player1" class="hand">
        <h3>Player 1</h3>
      </div>
      <div id ="player2" class="hand">
        <h3>Player 2</h3>
      </div>
    </div>

    <script src="js/game.js"></script>
</body>
</html>
