<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Poker game</title>
    <link rel="stylesheet" href="css/header.css"/>
</head>
<body>
    <div class="headermenu">
        <nav>
            <ul class="headermenu_ul">
                <li class="headermenu_li"><a class="headermenu_a" href="/templates/game.html">Game</a></li>
                <li class="headermenu_li"><a class="headermenu_a" href="signin.html">Login</a></li>
                <li class="headermenu_li"><a class="headermenu_a" href="statistic.html">Statistic</a></li>
                <li class="headermenu_li"><a class="headermenu_a" href="signup.html">Registration</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>